body .toucan {
position:fixed;
background:url(toucan-theme-settings.png);
bottom:-170px;
right:0;
width:367px;
height:168px;
z-index:15;
}

.greenbutton {
background:url(bigbutton.png);
width:136px;
height:24px;
padding:4px 0 0 10px;
margin:0;
color:#fff;
font-weight:bold;
cursor:pointer;
font-size:11px;
}

.bluebutton {
background:url(bigbutton-blue.png);
width:136px;
height:24px;
padding:4px 0 0 10px;
margin:0;
color:#fff;
font-weight:bold;
cursor:pointer;
font-size:13px;
float:right;
}

fieldset {
clear:both;
}