
/****************************/
/* IE6 FIXES                  */
/***************************/

.sooperblocks .block {
display:inline;
}

.cornerstone {
font-size:1px;
line-height:1px;
}

#content, .sidebar {
overflow:hidden; /* prevent collapsing of structure when childs elements are too wide - relies on below style on .inner for desired effect */
overflow-y:visible;
}

#content .inner, .sidebar .inner {
position:relative; /* ie6 has a bug that allows relatively positioned elements to overflow while overflow:hidden is true. This combination facilitates "overhanging" without breaking the layout, identical to the behaviour of standards compliant browsers */
}

#tundra-toolbar {
position:absolute;
}