/****************************/
/* IE7&below FIXES      */
/***************************/

.sooperblocks
,.wrapcolumns
,.content-bottom
,.content-top
,#footer
,.slideshow
,.split2
,.split3
,.split4
,.split5
,.split6
,.split7
,.split8
,.split9 {
width:100%;
margin-right:-10px!important; /* Create an invisible space (buffer) to allow overflow without collapsing */
padding-right:10px!important;
}

input.form-submit {
overflow:visible; /* Needed to make ie respect padding modifications of submit buttons */
clear:both!important;
}

div.breadcrumb {
text-indent:0;
}
div.breadcrumb a {
display:inline;
float:none;
min-width:0;
width:auto;
}

#navbar {
position:relative;
z-index:1000;
}