/****************************/
/* Skinr Styles             */
/****************************/

/**
*  [ 1 ] Block Styles
*/

/* Color */

/* styles containing actual color are in the custom theme options stylesheet */

#container .skinr-color 
,#container .skinr-color  a
,#container .skinr-color h1
,#container .skinr-color h2
,#container .skinr-color h3
,#container .skinr-color h4
,#container .skinr-color h5
,#container .skinr-color h6 {
color:#fff;
}

#container .skinr-color .block-inner {
padding:0 5px;
}
#container .side-first .skinr-color {
}

/* Color Light */

.skinr-color-light {
background:#dce7ec;
}

#container .skinr-color-light {
background:url(../images/bg-side-second-light.png) repeat-y top left;
}
#container .side-first .skinr-color-light {
background:url(../images/bg-side-first-light.png) repeat-y top right;
}

/* Color Dark */

.skinr-color-dark {
background:#3d5b69;
}

.skinr-color-dark .content
,.skinr-color-dark .content a {
color:#fff;
}

#container .skinr-color-dark {
background:url(../images/bg-side-second-dark.png) repeat-y top left;
}
#container .side-first .skinr-color-dark {
background:url(../images/bg-side-first-dark.png) repeat-y top right;
}

/**
*  [ 2 ] Font Size
*/

#container .skinr-xxs {
font-size:75%;
}
#container .skinr-xs {
font-size:90%;
}
#container .skinr-xl {
font-size:125%;
}
#container .skinr-xxl {
font-size:150%;
line-height:135%;
}
#container .skinr-xxxl {
font-size:200%;
line-height:135%;
}

/**
*  [ 3 ] Font Style
*/

.skinr-bold .content {
font-weight:bold;
}

.skinr-italic .content {
font-style:italic;
}

.skinr-underlined .content {
text-decoration:underline;
}