/**
Stylesheet for Tundra by www.SooperThemes.com
Author: Jurriaan Roelofs

SITE COLORS:
Primary color: #88cb00
Text color: #444444

TABLE OF CONTENTS:
1. Typography
2. Layout
3. Decoration per Region
4. Forms
5. Drupal Elements
6. Drupal Modules

Color Module: Don't touch
*/

/**
*  [ 1 ] TYPOGRAPHY
*/

html {font-size:100%;}

body {
font:12px/160% arial,tahoma,verdana,sans;
color:#444;
}

p,ul,ol,blockquote,pre
,abbr, acronym, address
, big, code,
del, dfn, dl, table {
padding:0.5em 0;
}

a {
text-decoration:none;
color:#88cb00;
}
a:hover
,a:focus {
text-decoration:underline;
}

#content {
word-wrap:break-word; /*** CSS3 property / former microsoft proprietary code so works in older ie ***/
}

blockquote {
display: block;
margin:0;
padding:2em 2em 2em 25px;
position:relative;
left:-25px;
width:62%;
font-style:italic;
font-size:14px;
line-height:1.6em;
font-family:cambria, "Times New Roman", Times, georgia, serif;
color:#666;
border-right:1px solid #ccc;
background: url(../images/blockquote.gif) no-repeat 0 1.4em;
}

/*** HEADINGS ***/

h1,h2,h3,h4,h5,h6
,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
color:#444;
font-weight:normal;
}

h1#sitename {
padding-left:10px;
}
h1#sitename a {
color:#88cb00;
font-size:27px;
}
h1#sitename a:hover
,h1#sitename a:focus {
text-decoration:none;
}

h1 {
font-size:24px;
line-height:1.4em;
}
h2,.mission,dt {
font-size:18px;
line-height:1.4em;
}
h3 {
font-size:16px;
line-height:1.4em;
}
h4,.views-field-title {
font-size:13px;
line-height:1.4em;
}
h5,#content div.field-label {
font-size:13px;
line-height:1.4em;
}
h6 {
font-size:13px;
line-height:1.4em;
}

h1,h2, h3, h4, h5, h6 {
margin:20px 0;
}

h1#sitename {
margin:10px 0;
}

legend {
font-size:120%;
text-transform:capitalize;
}

#header .slogan {
font-size:1.8em;
line-height:1em;
}

h1.nodetitle {
line-height:1em;
}

.nodetitle a {
text-decoration:none;
}

#main #content .nodetitle a:hover
,#main #content .nodetitle a:focus {
color:#88cb00;
}

.postblocks
,.preblocks
,#footer {
font-size:12px;
}

/*** LIST STYLING ***/

#container .content ul {
padding-left:15px;
list-style:outside disc;
}

#container .content ol {
padding-left:15px;
list-style:outside decimal;
}

#container .sooperblocks ul.item-list {
padding-left:0;
list-style:none;
list-style-type:none;
}

.item-list li {
color:#88cb00;
font-weight:bold;
}
.item-list li a {
color:#444;
font-weight:normal;
}

/* Dual Column List */

body #main ul.split {
margin:0;
padding:0;
}
body #main .main-inner ul.split li {
margin:0;
padding:10px 0;
background:none;
float:left;
width:49.9%;
}

body #main .main-inner ul.split li p {
padding:10px;
}

/**
*  [ 2 ] LAYOUT
*/

body,html {
width:100%;
}

body {
position:relative;
}

.sooper-full {
width:100%;
float:left;
clear:both;
text-align:center;
}

.sooper-mast {
width:960px;
margin:0 auto;
text-align:left;
position:relative;
}

.wrapcolumns {
width:100%;
float:left;
}

#content {
width:50%;
float:left;
word-wrap:break-word;
}

#content .content-inner
,#content .content-inner table {
position:relative;
z-index:15;
/*background:#fff;*/ /* When the main content hangs over the sidebar enable this style to force a white background on the overhang */
}

.sidebar {
float:left;
width:25%;
word-wrap:break-word;
}

#footer {
clear:both;
}

/* Gutters */

.grid-unit {
margin:10px;
}

.sidebar .grid-unit {
margin-bottom:20px; /* double up and collapse */
}
#content .content-inner .grid-unit {
margin:0 0 20px 0;
}

#footer .block {
display:inline-block;
}

/* Comments */

#container .indented {
margin-left:60px;
}

/**
*  [ 3 ] DECORATION PER REGION
*/

/*** VIEWPORT & CONTAINERS ***/

body {
background-color:#fff;
padding-bottom:45px;
}

#container {
background:#fff;
background:rgba(255,255,255,0.5);
}

/*** HEADER ***/

#header {
padding-bottom:33px;
}

img.logo {
padding-top:20px;
padding-left:10px;
}

ul.secondary-links {
position:absolute;
top:0;
right:0;
}

ul.secondary-links li  {
display:block;
float:left;
}

ul.secondary-links li a {
display:block;
float:left;
font-size:11px;
background:#88cb00;
color:#fff;
border-right:1px solid #fff;
padding:1px 6px 1px 4px;
width:50px;
height:21px;
text-align:right;
}

/*** NAVBAR ***/

#navbar {
background:#88cb00;
float:left;
width:100%;
position:relative;
}

#navbar ul {
padding:0;
}

#navbar ul li {
float:left;
font-size:14px;
line-height:1em;
list-style:none;
list-style-type:none;
margin:0;
padding:0;
position:relative;
}

#navbar ul li a {
display:block;
color:#fff;
float:left;
width:104px;
padding:6px 5px 6px 10px;
border-right:1px solid #fff;
height:34px;
}

#navbar ul.menu li.expanded a {
background-image: url(../images/arrows.gif);
background-repeat:no-repeat;
background-position:92% 1.4em;
}

/* Dropdown */

#navbar ul ul {
position:absolute;
z-index:20; /* Cover the Cufon canvas renders down below */
left:-99999em;
top:46px;
width:auto;
clear:both;
line-height:1.4em;
background:#88cb00;
padding:0;
border-top:1px solid #fff;
}
#navbar ul ul.dual {
width:360px;
}
#navbar ul ul.triple {
width:540px;
}

#navbar ul.menu ul.menu li {
width:auto;
background:none;
margin:0;
padding:0;
height:auto;
}

#navbar ul.menu ul.menu li a {
float:none;
width:164px;
color:#fff;
height:auto;
min-height:34px;
line-height:17px;
border-bottom:1px solid #ddd;
border-bottom-color:rgba(255,255,255,0.5);
background-image:none;
}

#navbar li:hover ul ul
,#navbar li:hover ul ul ul
,#navbar li:hover ul ul ul ul
,#navbar li.over ul ul
,#navbar li.over ul ul ul
,#navbar li.over ul ul ul ul {
left: -999em;
}

#navbar li:hover ul
,#navbar li li:hover ul
,#navbar li li li:hover ul
,#navbar li li li li:hover ul
,#navbar li.over ul
,#navbar li li.over ul
,#navbar li li li.over ul
,#navbar li li li li.over ul {
left: 0;
}

#navbar ul ul li.expanded {
background-position:90% center;
background-image:url(../../../../../misc/menu-collapsed.png);
}

#navbar ul ul{
position:absolute;
left:-999999em;
}

/*** SOOPER SlideshowKit (slideshow) ***/

.slideshow {
width:100%;
position:relative;
border-top:1px solid #88cb00;
padding-top:10px;
margin-bottom:30px;
}

#main .slideshow .grid-unit {
margin-bottom:2px;
}

#main .slideshow ul
,#main .slideshow ol {
margin:0;
padding:0;
}

.slideshow h1
,.slideshow h2
,.slideshow h3
,.slideshow h4
,.slideshow h5
,.slideshow h6 {
margin:0 0 10px 0;
}

.slideshow li {
margin:0;
padding:0;
list-style:none;
list-style-type:none;
position:relative;
clear:both;
width:100%;
}

.slideshow li p {
padding-bottom:0;
}

.slideshow img {
float:right;
}

body .slideshow .block-inner {
margin-bottom:0;
}

#cycle-pager {
border-top:1px solid #88cb00;
padding-bottom:20px;
margin:0;
float:left;
width:100%;
clear:both;
}
#cycle-pager a {
min-width:18px;
min-height:17px;
padding:5px 5px 5px 8px;
margin-right:1px;
line-height:1em;
display:block;
float:left;
color:#fff;
background:#88cb00;
}

#cycle-pager a.activeSlide {
text-decoration:underline;
}

/*** SIDEBAR ***/

/**** SOOPER BLOCKS ***/

.sooperblocks .block {
float:left; /* LTR */
}

/*** CONTENT REGION ***/

.node {
clear:both;
}

#content .node-teaser  .node-meta {
width:140px;
padding-right:10px;
float:left;
font-size:11px;
line-height:14px;
color:#666;
}

#content .node-teaser  .node-meta ul
,#content .node-teaser  .node-meta ul li {
padding-left:0;
margin-left:0;
}

#content .node-teaser  .node-data {
margin-left:160px;
}

#content .node .node-data h1.nodetitle {
font-size:18px;
line-height:14x;
margin:0;
padding:0;
}

#content .node .node-data h1.nodetitle a {
color:#444;
}

.node .node-meta p {
padding:0;
}

p.author  a{
font-weight:bold;
}

#container .node-teaser .node-meta ul.links {
border-top:1px solid #666;
margin-top:9px;
padding-top:9px;
display:block;
}

#container .node-teaser .node-meta ul.links li {
display:block;
}

#container .node-teaser .node-meta ul.links a {
color:#666;
}

.node-full .node-meta {
margin-bottom:20px;
}

.node-full .node-meta * {
display:inline;
}

#container .node-full .node-meta ul.links {
display:block;
float:right;
width:50%;
text-align:right;
}

.node-full .node-meta p.date {
color:#666;
font-style:italic;
}

div.field-label {
font-style:italic;
}

/* Comments */

div.comment {
margin-bottom:20px;
clear:both;
}

.comment .comment-meta {
width:100px;
padding-right:10px;
float:left;
border-right:1px solid #666;
font-size:11px;
color:#666;
}
.comment .comment-data {
margin-left:110px;
padding-left:10px;
}

.comment .comment-data h3.comment-title {
margin-bottom:0;
}

.comment .comment-meta p {
padding:0;
}
.comment .comment-meta a {
color:#666;
}

.comment .date {
font-style:italic;
}

/*** FOOTER ***/

#footer {
min-height:46px;
font-size:90%;
border-top:1px solid #666;
}
#footer p#footermessage {
float:left;
}
p.sooper {
float:right;
color:#ccc;
font-size:10px;
}
p.sooper a {
color:#ccc;
}
.content-bottom p.sooper {padding-top:50px;}

/*** tundra-toolbar ***/

#tundra-toolbar {
position:fixed;
z-index:99;
bottom:0;
left:0;
width:100%;
background:#444;
font-size:90%;
padding:8px 0;
}

#tundra-toolbar .block {
}

#tundra-toolbar .block * {
display:inline;
color:#fff;
}

#tundra-toolbar input.form-text {
color:#444;
}

#tundra-toolbar ul {
margin:0;
padding:0;
}

#tundra-toolbar ul li a {
border-right:1px solid #fff;
padding:0 5px 0 3px;
margin:0;
}

#tundra-toolbar ul li.last a {
border:none;
padding-right:0;
}

/**
*  [ 4 ] FORMS
*/

input.form-text
,input.form-upload
,input.form-file
,textarea {
font-family:inherit;
font-size:12px;
border:1px solid #ddd;
padding:5px;
}
input.form-autocomplete {
padding:3px;
}

input.form-text:focus
,input.form-upload:focus
,input.form-file:focus
,textarea:focus {
background:#f6f6f6;
border-color:#88cb00;
}

input.form-submit {
background:#88cb00;
padding:4px 8px;
font-size:12px;
color:#fff;
font-family:arial,helvetica, tahoma,verdana,sans;
cursor:pointer;
border:none;
-moz-border-radius: 3px;
border-radius: 3px;
}

body #main #autocomplete ul {
margin:0;
padding:0;
}
body #main #autocomplete ul li {
margin:0;
padding:1px;
list-style:none;
list-style-type:none;
border-bottom:1px dashed #ddd;
}

#content label {
font-weight:normal;
padding:3px;
}

fieldset {
margin:0.5em 0;
padding:10px;
border:1px solid #ddd;
}

legend {
padding:5px;
display:block;
}

/**
*  [ 5 ] DRUPAL ELEMENTS
*/

span.form-required {
color:#88cb00;
}
.feed-icon {
clear:both;
}

/*** PAGER ***/

#content ul.pager {
font-size:14px;
float:left;
margin:0;
padding:0;
}

#content ul.pager li {
display:block;
float:left;
width:60px;
margin:0 20px 0 0;
padding:0;
white-space:no-wrap;
text-align:left;
background:#88cb00;
color:#fff;
text-indent:3px
}

#content ul.pager li a {
color:#fff;
display:block;
}


/*** MISSION ***/

.mission {
margin-bottom:20px;
padding:0;
}

/*** BREADCRUMBS ***/

div.breadcrumb {
text-indent:-999999px;
}

div.breadcrumb a {
float:left;
display:block;
text-indent:0;
min-width:88px;
padding:0 22px 0 10px;
background: url(http://sooper-demo.tundra/sites/all/themes/sooper_tundra/images/arrows.gif) no-repeat 92% -290px;
}

div.breadcrumb a.active {
color:#666;
font-style:italic;
background:none;
}

/*** PRIMARY TABS ***/

#content ul.primary {
border:none;
font-size:11px;
width:100%;
padding:0;
float:left;
margin:0;
}

body #main ul.primary li {
display:block;
float:left;
padding:0;
}

ul.primary li a {
background:#444444;
border:none;
display:block;
float:left;
padding:0;
margin:0;
min-width:75px;
height:29px;
text-align:center;
line-height:30px;
}

ul.primary li.active a {
border:none;
float:left;
background:#88cb00;
color:#fff;
font-weight:bold;
}
#container ul.primary li a:hover
,#container ul.primary li a:focus {
text-decoration:underline;
background-color:#444444;
}
#container ul.primary li.active a:hover
,#container ul.primary li.active a:focus {
text-decoration:underline;
background-color:#88cb00;
}

/*** SECONDARY TABS ***/

#content ul.secondary {
padding:20px 0;
float:left;
clear:both;
font-size:10px;
margin:0;
width:100%;
}

#content ul.secondary li a {
background:#444;
color:#88cb00;
padding:5px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#content ul.secondary li a.active {
border:none;
background:#88cb00;
color:#fff;
}

/**
*  [ 6 ] DRUPAL MODULES
*/

/*** MOD POLL ***/

.poll .bar {
background:#444;
height:6px;
}

.poll .bar .foreground {
background:#88cb00;
height:6px;
}

.poll .text {
font-weight:bold;
padding-bottom:4px;
}

.poll .percent {
font-weight:bold;
line-height:1.2em;
padding-bottom:4px;
}

.poll .total {
font-weight:bold;
line-height:1em;
padding-bottom:10px;
}

div.poll { /* clear the user picture */
clear:both;
}